---
interface CardProps {
  teamA: string;
  teamB: string;
  gamblingLine: string;
}

const { teamA, teamB, gamblingLine } = Astro.props as CardProps;
---

<li class="bg-white rounded-md shadow-md p-4 m-4 text-center">
  <div class="flex justify-between mb-4">
    <div class="text-center">
      <img src=`/${teamA}.svg` alt=`Logo for ${teamA}` class="mx-auto" />
      <h1 class="font-bold text-xl">{teamA}</h1>
    </div>
    <div class="text-center">
      <img src=`/${teamB}.svg` alt=`Logo for ${teamB}` class="mx-auto" />
      <h1 class="font-bold text-xl">{teamB}</h1>
    </div>
  </div>
  <p class="text-black-600 mt-2">{gamblingLine}</p>
</li>